# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [38]:
# Review the data types associated with the columns
display(applicant_data_df.dtypes)

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Drop the categorical columns from the DataFrame
applicant_numerical_df = applicant_data_df.drop(columns=categorical_variables)

# Review the DataFrame
applicant_numerical_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame

encoded_df = pd.concat([applicant_numerical_df, encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [45]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(X_train)

# Scale the features data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + number_output_neurons)//2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + number_output_neurons)//2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

In [21]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation='relu'))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation='sigmoid'))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics='accuracy')

In [25]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 857us/step - loss: 0.5763 - accuracy: 0.7203
Epoch 2/50
804/804 [==============================] - 1s 878us/step - loss: 0.5541 - accuracy: 0.72940s - loss: 0.5545 - accuracy
Epoch 3/50
804/804 [==============================] - 1s 884us/step - loss: 0.5493 - accuracy: 0.7327
Epoch 4/50
804/804 [==============================] - 1s 879us/step - loss: 0.5471 - accuracy: 0.7312
Epoch 5/50
804/804 [==============================] - 1s 891us/step - loss: 0.5460 - accuracy: 0.73360s - loss: 0.543
Epoch 6/50
804/804 [==============================] - 1s 885us/step - loss: 0.5449 - accuracy: 0.7329
Epoch 7/50
804/804 [==============================] - 1s 882us/step - loss: 0.5438 - accuracy: 0.7345
Epoch 8/50
804/804 [==============================] - 1s 859us/step - loss: 0.5436 - accuracy: 0.7341
Epoch 9/50
804/804 [==============================] - 1s 882us/step - loss: 0.5423 - accuracy: 0.73420s - loss: 0.5385 - accuracy:
Epoch 10/50
804/804 [==============================] - 1s 863us/step - loss: 0.5411 - accuracy: 0.7352
Epoch 11/50
804/804 [==============================] - 1s 862us/step - loss: 0.5409 - accuracy: 0.7354
Epoch 12/50
804/804 [==============================] - 1s 890us/step - loss: 0.5401 - accuracy: 0.7369
Epoch 13/50
804/804 [==============================] - 1s 896us/step - loss: 0.5405 - accuracy: 0.7370
Epoch 14/50
804/804 [==============================] - 1s 891us/step - loss: 0.5400 - accuracy: 0.7351
Epoch 15/50
804/804 [==============================] - 1s 879us/step - loss: 0.5391 - accuracy: 0.7367
Epoch 16/50
804/804 [==============================] - 1s 876us/step - loss: 0.5393 - accuracy: 0.73770s - loss:
Epoch 17/50
804/804 [==============================] - 1s 884us/step - loss: 0.5393 - accuracy: 0.7360
Epoch 18/50
804/804 [==============================] - 1s 910us/step - loss: 0.5387 - accuracy: 0.7372
Epoch 19/50
804/804 [==============================] - 1s 897us/step - loss: 0.5377 - accuracy: 0.7365
Epoch 20/50
804/804 [==============================] - 1s 903us/step - loss: 0.5378 - accuracy: 0.73780s - loss: 0.5363 -
Epoch 21/50
804/804 [==============================] - 1s 944us/step - loss: 0.5375 - accuracy: 0.7383
Epoch 22/50
804/804 [==============================] - 1s 878us/step - loss: 0.5380 - accuracy: 0.7372
Epoch 23/50
804/804 [==============================] - 1s 888us/step - loss: 0.5371 - accuracy: 0.7364
Epoch 24/50
804/804 [==============================] - 1s 892us/step - loss: 0.5368 - accuracy: 0.7378
Epoch 25/50
804/804 [==============================] - 1s 872us/step - loss: 0.5372 - accuracy: 0.7377
Epoch 26/50
804/804 [==============================] - 1s 883us/step - loss: 0.5364 - accuracy: 0.7382
Epoch 27/50
804/804 [==============================] - 1s 919us/step - loss: 0.5363 - accuracy: 0.7383
Epoch 28/50
804/804 [==============================] - 1s 884us/step - loss: 0.5361 - accuracy: 0.7383
Epoch 29/50
804/804 [==============================] - 1s 870us/step - loss: 0.5363 - accuracy: 0.7380
Epoch 30/50
804/804 [==============================] - 1s 874us/step - loss: 0.5353 - accuracy: 0.7392
Epoch 31/50
804/804 [==============================] - 1s 890us/step - loss: 0.5360 - accuracy: 0.7378
Epoch 32/50
804/804 [==============================] - 1s 871us/step - loss: 0.5354 - accuracy: 0.7379
Epoch 33/50
804/804 [==============================] - 1s 854us/step - loss: 0.5353 - accuracy: 0.7393
Epoch 34/50
804/804 [==============================] - 1s 875us/step - loss: 0.5346 - accuracy: 0.7390
Epoch 35/50
804/804 [==============================] - 1s 911us/step - loss: 0.5351 - accuracy: 0.7390
Epoch 36/50
804/804 [==============================] - 1s 873us/step - loss: 0.5346 - accuracy: 0.7394
Epoch 37/50
804/804 [==============================] - 1s 878us/step - loss: 0.5341 - accuracy: 0.73990s - loss: 0.534
Epoch 38/50
804/804 [==============================] - 1s 883us/step - loss: 0.5346 - accuracy: 0.7397
Epoch 39/50
804/804 [==============================] - 1s 917us/step - loss: 0.5342 - accuracy: 0.7405
Epoch 40/50
804/804 [==============================] - 1s 902us/step - loss: 0.5342 - accuracy: 0.7393
Epoch 41/50
804/804 [==============================] - 1s 920us/step - loss: 0.5346 - accuracy: 0.7396
Epoch 42/50
804/804 [==============================] - 1s 825us/step - loss: 0.5340 - accuracy: 0.7386
Epoch 43/50
804/804 [==============================] - 1s 843us/step - loss: 0.5335 - accuracy: 0.7402
Epoch 44/50
804/804 [==============================] - 1s 857us/step - loss: 0.5335 - accuracy: 0.7396
Epoch 45/50
804/804 [==============================] - 1s 906us/step - loss: 0.5335 - accuracy: 0.7397
Epoch 46/50
804/804 [==============================] - 1s 893us/step - loss: 0.5334 - accuracy: 0.7396
Epoch 47/50
804/804 [==============================] - 1s 889us/step - loss: 0.5331 - accuracy: 0.7398
Epoch 48/50
804/804 [==============================] - 1s 886us/step - loss: 0.5330 - accuracy: 0.7395
Epoch 49/50
804/804 [==============================] - 1s 901us/step - loss: 0.5327 - accuracy: 0.7409
Epoch 50/50
804/804 [==============================] - 1s 885us/step - loss: 0.5325 - accuracy: 0.7406

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5563 - accuracy: 0.7313 - 242ms/epoch - 902us/step
Loss: 0.556291937828064, Accuracy: 0.7313119769096375

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

In [37]:
print(model.history['accuracy'][-5:])

[0.7395817041397095, 0.7398149371147156, 0.7394651174545288, 0.7408645749092102, 0.7405924201011658]

Index(['APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T12', 'APPLICATION_TYPE_T13',
       'APPLICATION_TYPE_T14', 'APPLICATION_TYPE_T15', 'APPLICATION_TYPE_T17',
       'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T2', 'APPLICATION_TYPE_T25',
       'APPLICATION_TYPE_T29', 'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4',
       'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6', 'APPLICATION_TYPE_T7',
       'APPLICATION_TYPE_T8', 'APPLICATION_TYPE_T9', 'CLASSIFICATION_C0',
       'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200', 'CLASSIFICATION_C1230',
       'CLASSIFICATION_C1234', 'CLASSIFICATION_C1235', 'CLASSIFICATION_C1236',
       'CLASSIFICATION_C1237', 'CLASSIFICATION_C1238', 'CLASSIFICATION_C1240',
       'CLASSIFICATION_C1245', 'CLASSIFICATION_C1246', 'CLASSIFICATION_C1248',
       'CLASSIFICATION_C1250', 'CLASSIFICATION_C1256', 'CLASSIFICATION_C1257',
       'CLASSIFICATION_C1260', 'CLASSIFICATION_C1267', 'CLASSIFICATION_C1270',
       'CLASSIFICATION_C1278', 'CLASSIFICATION_C1280', 'CLASSIFICATION_C1283',
       'CLASSIFICATION_C1300', 'CLASSIFICATION_C1370', 'CLASSIFICATION_C1400',
       'CLASSIFICATION_C1500', 'CLASSIFICATION_C1570', 'CLASSIFICATION_C1580',
       'CLASSIFICATION_C1600', 'CLASSIFICATION_C1700', 'CLASSIFICATION_C1720',
       'CLASSIFICATION_C1728', 'CLASSIFICATION_C1732', 'CLASSIFICATION_C1800',
       'CLASSIFICATION_C1820', 'CLASSIFICATION_C1900', 'CLASSIFICATION_C2000',
       'CLASSIFICATION_C2100', 'CLASSIFICATION_C2150', 'CLASSIFICATION_C2170',
       'CLASSIFICATION_C2190', 'CLASSIFICATION_C2300', 'CLASSIFICATION_C2380',
       'CLASSIFICATION_C2400', 'CLASSIFICATION_C2500', 'CLASSIFICATION_C2561',
       'CLASSIFICATION_C2570', 'CLASSIFICATION_C2600', 'CLASSIFICATION_C2700',
       'CLASSIFICATION_C2710', 'CLASSIFICATION_C2800', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_C3200', 'CLASSIFICATION_C3700', 'CLASSIFICATION_C4000',
       'CLASSIFICATION_C4100', 'CLASSIFICATION_C4120', 'CLASSIFICATION_C4200',
       'CLASSIFICATION_C4500', 'CLASSIFICATION_C5000', 'CLASSIFICATION_C5200',
       'CLASSIFICATION_C6000', 'CLASSIFICATION_C6100', 'CLASSIFICATION_C7000',
       'CLASSIFICATION_C7100', 'CLASSIFICATION_C7120', 'CLASSIFICATION_C7200',
       'CLASSIFICATION_C7210', 'CLASSIFICATION_C8000', 'CLASSIFICATION_C8200',
       'CLASSIFICATION_C8210', 'SPECIAL_CONSIDERATIONS_N',
       'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

26

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1
  **Try dropping columns, and evaluate the reduced-features data
  but keep other model parameters as _original_.**

In [40]:
# Examine value_counts() and consider dropping columns

display(applicant_data_df['SPECIAL_CONSIDERATIONS'].value_counts())
display(applicant_data_df['ORGANIZATION'].value_counts())
display(applicant_data_df['USE_CASE'].value_counts())
display(applicant_data_df['CLASSIFICATION'].value_counts())

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2561        1
C5200        1
C2150        1
C1580        1
C1820        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [43]:
# Make a copy of the original encoded dataframe.
# Drop groups of columns from the encoded dataframe.

cols_to_drop = X.filter(regex='APPLICATION|SPECIAL|CLASSIFICATION').columns
# print(cols_to_drop)
X_mod = X.copy()
X_mod = X_mod.drop(columns=cols_to_drop)
X_mod.shape[1]

26

In [46]:
# Scale and fit to the reduced-features dataframe

X_mod_train, X_mod_test, y_train, y_test = train_test_split(X_mod, y, random_state=1)

# Create a StandardScaler instance
mod_scaler = StandardScaler()

# Fit the scaler to the features training dataset
mod_scaler.fit(X_mod_train)

# Scale the features data
X_mod_train_scaled = mod_scaler.transform(X_mod_train)
X_mod_test_scaled = mod_scaler.transform(X_mod_test)

In [52]:
# Define the the number of inputs (features) to the model
number_input_features_A1 = len(X_mod_train.iloc[0])

# Review the number of features
number_input_features_A1

26

In [53]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [54]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features_A1 + number_output_neurons_A1)//2
hidden_nodes_layer2_A1 =  (hidden_nodes_layer1_A1 + number_output_neurons_A1)//2

# Review the number of hidden nodes in the first layer
print(f"hidden_nodes_layer1_A1: {hidden_nodes_layer1_A1}")
print(f"hidden_nodes_layer2_A1: {hidden_nodes_layer2_A1}")

hidden_nodes_layer1_A1: 13
hidden_nodes_layer2_A1: 7

In [58]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [59]:
# Add layers 1 and 2
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features_A1, activation='relu'))

nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation='relu'))
# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation='sigmoid'))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 13)                351

 dense_6 (Dense)             (None, 7)                 98

 dense_7 (Dense)             (None, 1)                 8

=================================================================
Total params: 457
Trainable params: 457
Non-trainable params: 0
_________________________________________________________________

In [60]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics='accuracy')

In [61]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_mod_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 776us/step - loss: 0.6238 - accuracy: 0.68360s - loss: 0.6482
Epoch 2/50
804/804 [==============================] - 1s 735us/step - loss: 0.6050 - accuracy: 0.6966
Epoch 3/50
804/804 [==============================] - 1s 735us/step - loss: 0.6024 - accuracy: 0.6972
Epoch 4/50
804/804 [==============================] - 1s 785us/step - loss: 0.6017 - accuracy: 0.69690s - loss: 0
Epoch 5/50
804/804 [==============================] - 1s 779us/step - loss: 0.6008 - accuracy: 0.6977
Epoch 6/50
804/804 [==============================] - 1s 767us/step - loss: 0.6006 - accuracy: 0.6979
Epoch 7/50
804/804 [==============================] - 1s 777us/step - loss: 0.6003 - accuracy: 0.6985
Epoch 8/50
804/804 [==============================] - 1s 779us/step - loss: 0.5999 - accuracy: 0.6980
Epoch 9/50
804/804 [==============================] - 1s 763us/step - loss: 0.6001 - accuracy: 0.6988
Epoch 10/50
804/804 [==============================] - 1s 797us/step - loss: 0.5999 - accuracy: 0.6987
Epoch 11/50
804/804 [==============================] - 1s 785us/step - loss: 0.5992 - accuracy: 0.6987
Epoch 12/50
804/804 [==============================] - 1s 785us/step - loss: 0.5994 - accuracy: 0.6991
Epoch 13/50
804/804 [==============================] - 1s 788us/step - loss: 0.5993 - accuracy: 0.6990
Epoch 14/50
804/804 [==============================] - 1s 790us/step - loss: 0.5996 - accuracy: 0.6990
Epoch 15/50
804/804 [==============================] - 1s 838us/step - loss: 0.5992 - accuracy: 0.6992
Epoch 16/50
804/804 [==============================] - 1s 745us/step - loss: 0.5993 - accuracy: 0.6986
Epoch 17/50
804/804 [==============================] - 1s 749us/step - loss: 0.5992 - accuracy: 0.6993
Epoch 18/50
804/804 [==============================] - 1s 740us/step - loss: 0.5991 - accuracy: 0.7000
Epoch 19/50
804/804 [==============================] - 1s 745us/step - loss: 0.5987 - accuracy: 0.6996
Epoch 20/50
804/804 [==============================] - 1s 740us/step - loss: 0.5990 - accuracy: 0.6999
Epoch 21/50
804/804 [==============================] - 1s 756us/step - loss: 0.5989 - accuracy: 0.69990s - loss: 0
Epoch 22/50
804/804 [==============================] - 1s 742us/step - loss: 0.5988 - accuracy: 0.7003
Epoch 23/50
804/804 [==============================] - 1s 730us/step - loss: 0.5986 - accuracy: 0.6996
Epoch 24/50
804/804 [==============================] - 1s 804us/step - loss: 0.5987 - accuracy: 0.6996
Epoch 25/50
804/804 [==============================] - 1s 785us/step - loss: 0.5986 - accuracy: 0.6998
Epoch 26/50
804/804 [==============================] - 1s 788us/step - loss: 0.5986 - accuracy: 0.7000
Epoch 27/50
804/804 [==============================] - 1s 798us/step - loss: 0.5984 - accuracy: 0.7000
Epoch 28/50
804/804 [==============================] - 1s 784us/step - loss: 0.5985 - accuracy: 0.7001
Epoch 29/50
804/804 [==============================] - 1s 796us/step - loss: 0.5986 - accuracy: 0.7002
Epoch 30/50
804/804 [==============================] - 1s 797us/step - loss: 0.5983 - accuracy: 0.7001
Epoch 31/50
804/804 [==============================] - 1s 786us/step - loss: 0.5984 - accuracy: 0.7001
Epoch 32/50
804/804 [==============================] - 1s 815us/step - loss: 0.5984 - accuracy: 0.7001
Epoch 33/50
804/804 [==============================] - 1s 790us/step - loss: 0.5983 - accuracy: 0.7004
Epoch 34/50
804/804 [==============================] - 1s 799us/step - loss: 0.5984 - accuracy: 0.7006
Epoch 35/50
804/804 [==============================] - 1s 789us/step - loss: 0.5979 - accuracy: 0.7008
Epoch 36/50
804/804 [==============================] - 1s 787us/step - loss: 0.5982 - accuracy: 0.6998
Epoch 37/50
804/804 [==============================] - 1s 796us/step - loss: 0.5982 - accuracy: 0.7004
Epoch 38/50
804/804 [==============================] - 1s 785us/step - loss: 0.5981 - accuracy: 0.7004
Epoch 39/50
804/804 [==============================] - 1s 793us/step - loss: 0.5981 - accuracy: 0.7006
Epoch 40/50
804/804 [==============================] - 1s 817us/step - loss: 0.5980 - accuracy: 0.7000
Epoch 41/50
804/804 [==============================] - 1s 810us/step - loss: 0.5982 - accuracy: 0.7001
Epoch 42/50
804/804 [==============================] - 1s 788us/step - loss: 0.5980 - accuracy: 0.7005
Epoch 43/50
804/804 [==============================] - 1s 782us/step - loss: 0.5979 - accuracy: 0.7008
Epoch 44/50
804/804 [==============================] - 1s 787us/step - loss: 0.5979 - accuracy: 0.70090s - loss: 0.5967 - accuracy
Epoch 45/50
804/804 [==============================] - 1s 800us/step - loss: 0.5982 - accuracy: 0.7006
Epoch 46/50
804/804 [==============================] - 1s 811us/step - loss: 0.5979 - accuracy: 0.7006
Epoch 47/50
804/804 [==============================] - 1s 822us/step - loss: 0.5979 - accuracy: 0.7009
Epoch 48/50
804/804 [==============================] - 1s 822us/step - loss: 0.5978 - accuracy: 0.7002
Epoch 49/50
804/804 [==============================] - 1s 836us/step - loss: 0.5980 - accuracy: 0.7007
Epoch 50/50
804/804 [==============================] - 1s 727us/step - loss: 0.5979 - accuracy: 0.7006

#### Alternative Model 2

In [68]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
#number_input_features

In [69]:
# Define the number of neurons in the output layer
#number_output_neurons_A2 = # YOUR CODE HERE

In [70]:
# Define the number of hidden nodes for the first hidden layer
#hidden_nodes_layer1_A2 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
#hidden_nodes_layer1_A2

In [71]:
number_input_features

116

In [72]:
# Create the Sequential model instance

# Use all features of original model, but increase number of neurons
nn_A2 = Sequential()
nn_A2.add(Dense(units=(hidden_nodes_layer1 * 2), input_dim=number_input_features, activation='relu'))
nn_A2.add(Dense(units=(hidden_nodes_layer2 * 2), activation='relu'))
nn_A2.add(Dense(units=number_output_neurons, activation='sigmoid'))
nn_A2.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_14 (Dense)            (None, 116)               13572

 dense_15 (Dense)            (None, 58)                6786

 dense_16 (Dense)            (None, 1)                 59

=================================================================
Total params: 20,417
Trainable params: 20,417
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# First hidden layer
# YOUR CODE HERE

# Output layer
# YOUR CODE HERE

# Check the structure of the model
# YOUR CODE HERE

In [73]:
# Compile the model
nn_A2.compile(loss='binary_crossentropy', optimizer='adam', metrics='accuracy')

In [74]:
# Fit the model
fit_model_A1 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 911us/step - loss: 0.5742 - accuracy: 0.7203
Epoch 2/50
804/804 [==============================] - 1s 885us/step - loss: 0.5550 - accuracy: 0.7270
Epoch 3/50
804/804 [==============================] - 1s 891us/step - loss: 0.5506 - accuracy: 0.7293
Epoch 4/50
804/804 [==============================] - 1s 923us/step - loss: 0.5485 - accuracy: 0.7324
Epoch 5/50
804/804 [==============================] - 1s 866us/step - loss: 0.5464 - accuracy: 0.7340
Epoch 6/50
804/804 [==============================] - 1s 895us/step - loss: 0.5451 - accuracy: 0.7326
Epoch 7/50
804/804 [==============================] - 1s 913us/step - loss: 0.5437 - accuracy: 0.73390s - loss: 0.5433 - accu
Epoch 8/50
804/804 [==============================] - 1s 895us/step - loss: 0.5429 - accuracy: 0.7351
Epoch 9/50
804/804 [==============================] - 1s 909us/step - loss: 0.5423 - accuracy: 0.7346
Epoch 10/50
804/804 [==============================] - 1s 905us/step - loss: 0.5411 - accuracy: 0.7361
Epoch 11/50
804/804 [==============================] - 1s 895us/step - loss: 0.5409 - accuracy: 0.7349
Epoch 12/50
804/804 [==============================] - 1s 903us/step - loss: 0.5399 - accuracy: 0.7371
Epoch 13/50
804/804 [==============================] - 1s 880us/step - loss: 0.5396 - accuracy: 0.7375
Epoch 14/50
804/804 [==============================] - 1s 897us/step - loss: 0.5392 - accuracy: 0.7377
Epoch 15/50
804/804 [==============================] - 1s 911us/step - loss: 0.5386 - accuracy: 0.7355
Epoch 16/50
804/804 [==============================] - 1s 885us/step - loss: 0.5380 - accuracy: 0.7364
Epoch 17/50
804/804 [==============================] - 1s 903us/step - loss: 0.5379 - accuracy: 0.7388
Epoch 18/50
804/804 [==============================] - 1s 893us/step - loss: 0.5375 - accuracy: 0.7387
Epoch 19/50
804/804 [==============================] - 1s 865us/step - loss: 0.5373 - accuracy: 0.7386
Epoch 20/50
804/804 [==============================] - 1s 889us/step - loss: 0.5367 - accuracy: 0.7379
Epoch 21/50
804/804 [==============================] - 1s 874us/step - loss: 0.5368 - accuracy: 0.7383
Epoch 22/50
804/804 [==============================] - 1s 917us/step - loss: 0.5360 - accuracy: 0.7378
Epoch 23/50
804/804 [==============================] - 1s 883us/step - loss: 0.5359 - accuracy: 0.7399
Epoch 24/50
804/804 [==============================] - 1s 905us/step - loss: 0.5359 - accuracy: 0.7394
Epoch 25/50
804/804 [==============================] - 1s 899us/step - loss: 0.5355 - accuracy: 0.73850s - loss: 0.5361 - ac
Epoch 26/50
804/804 [==============================] - 1s 909us/step - loss: 0.5349 - accuracy: 0.7396
Epoch 27/50
804/804 [==============================] - 1s 867us/step - loss: 0.5347 - accuracy: 0.7397
Epoch 28/50
804/804 [==============================] - 1s 891us/step - loss: 0.5346 - accuracy: 0.7397
Epoch 29/50
804/804 [==============================] - 1s 897us/step - loss: 0.5343 - accuracy: 0.7398
Epoch 30/50
804/804 [==============================] - 1s 887us/step - loss: 0.5341 - accuracy: 0.7398
Epoch 31/50
804/804 [==============================] - 1s 899us/step - loss: 0.5338 - accuracy: 0.7391
Epoch 32/50
804/804 [==============================] - 1s 900us/step - loss: 0.5335 - accuracy: 0.7406
Epoch 33/50
804/804 [==============================] - 1s 925us/step - loss: 0.5328 - accuracy: 0.7406
Epoch 34/50
804/804 [==============================] - 1s 879us/step - loss: 0.5329 - accuracy: 0.7398
Epoch 35/50
804/804 [==============================] - 1s 905us/step - loss: 0.5329 - accuracy: 0.74030s - loss: 0.5331 - accuracy:
Epoch 36/50
804/804 [==============================] - 1s 898us/step - loss: 0.5331 - accuracy: 0.7402
Epoch 37/50
804/804 [==============================] - 1s 902us/step - loss: 0.5326 - accuracy: 0.7414
Epoch 38/50
804/804 [==============================] - 1s 895us/step - loss: 0.5326 - accuracy: 0.7401
Epoch 39/50
804/804 [==============================] - 1s 856us/step - loss: 0.5322 - accuracy: 0.7404
Epoch 40/50
804/804 [==============================] - 1s 887us/step - loss: 0.5319 - accuracy: 0.7409
Epoch 41/50
804/804 [==============================] - 1s 911us/step - loss: 0.5319 - accuracy: 0.7401
Epoch 42/50
804/804 [==============================] - 1s 874us/step - loss: 0.5320 - accuracy: 0.7400
Epoch 43/50
804/804 [==============================] - 1s 885us/step - loss: 0.5314 - accuracy: 0.7411
Epoch 44/50
804/804 [==============================] - 1s 882us/step - loss: 0.5316 - accuracy: 0.7411
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7415
Epoch 46/50
804/804 [==============================] - 1s 941us/step - loss: 0.5310 - accuracy: 0.7418
Epoch 47/50
804/804 [==============================] - 1s 974us/step - loss: 0.5313 - accuracy: 0.7404
Epoch 48/50
804/804 [==============================] - 1s 905us/step - loss: 0.5308 - accuracy: 0.7407
Epoch 49/50
804/804 [==============================] - 1s 894us/step - loss: 0.5308 - accuracy: 0.7419
Epoch 50/50
804/804 [==============================] - 1s 887us/step - loss: 0.5311 - accuracy: 0.7424

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [62]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5563 - accuracy: 0.7313 - 155ms/epoch - 579us/step
Loss: 0.556291937828064, Accuracy: 0.7313119769096375

In [63]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_mod_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5977 - accuracy: 0.7010 - 215ms/epoch - 802us/step
Loss: 0.5976669192314148, Accuracy: 0.7009912729263306

In [75]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5577 - accuracy: 0.7306 - 216ms/epoch - 807us/step
Loss: 0.557684063911438, Accuracy: 0.7306122183799744

### Step 3: Save each of your alternative models as an HDF5 file.

In [64]:
# Set the file path for the first alternative model
file_path = Path("Resources/AlphabetSoup_A1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE