# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
display(applicant_data_df.dtypes)

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Drop the categorical columns from the DataFrame
applicant_numerical_df = applicant_data_df.drop(columns=categorical_variables)

# Review the DataFrame
applicant_numerical_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame

encoded_df = pd.concat([applicant_numerical_df, encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(X_train)

# Scale the features data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + number_output_neurons)//2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + number_output_neurons)//2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

In [21]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation='relu'))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation='sigmoid'))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics='accuracy')

In [25]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 829us/step - loss: 0.5766 - accuracy: 0.7150
Epoch 2/50
804/804 [==============================] - 1s 803us/step - loss: 0.5528 - accuracy: 0.7299
Epoch 3/50
804/804 [==============================] - 1s 853us/step - loss: 0.5493 - accuracy: 0.7316
Epoch 4/50
804/804 [==============================] - 1s 847us/step - loss: 0.5470 - accuracy: 0.7331
Epoch 5/50
804/804 [==============================] - 1s 835us/step - loss: 0.5449 - accuracy: 0.7336
Epoch 6/50
804/804 [==============================] - 1s 807us/step - loss: 0.5447 - accuracy: 0.7333
Epoch 7/50
804/804 [==============================] - 1s 861us/step - loss: 0.5434 - accuracy: 0.7352
Epoch 8/50
804/804 [==============================] - 1s 853us/step - loss: 0.5431 - accuracy: 0.7335
Epoch 9/50
804/804 [==============================] - 1s 867us/step - loss: 0.5416 - accuracy: 0.7359
Epoch 10/50
804/804 [==============================] - 1s 891us/step - loss: 0.5411 - accuracy: 0.7369
Epoch 11/50
804/804 [==============================] - 1s 905us/step - loss: 0.5406 - accuracy: 0.7369
Epoch 12/50
804/804 [==============================] - 1s 841us/step - loss: 0.5400 - accuracy: 0.7369
Epoch 13/50
804/804 [==============================] - 1s 861us/step - loss: 0.5395 - accuracy: 0.7359
Epoch 14/50
804/804 [==============================] - 1s 829us/step - loss: 0.5392 - accuracy: 0.7373
Epoch 15/50
804/804 [==============================] - 1s 851us/step - loss: 0.5388 - accuracy: 0.7371
Epoch 16/50
804/804 [==============================] - 1s 854us/step - loss: 0.5386 - accuracy: 0.7367
Epoch 17/50
804/804 [==============================] - 1s 838us/step - loss: 0.5385 - accuracy: 0.7376
Epoch 18/50
804/804 [==============================] - 1s 828us/step - loss: 0.5376 - accuracy: 0.7388
Epoch 19/50
804/804 [==============================] - 1s 855us/step - loss: 0.5375 - accuracy: 0.7375
Epoch 20/50
804/804 [==============================] - 1s 849us/step - loss: 0.5375 - accuracy: 0.7384
Epoch 21/50
804/804 [==============================] - 1s 865us/step - loss: 0.5365 - accuracy: 0.7388
Epoch 22/50
804/804 [==============================] - 1s 830us/step - loss: 0.5365 - accuracy: 0.7389
Epoch 23/50
804/804 [==============================] - 1s 853us/step - loss: 0.5365 - accuracy: 0.7393
Epoch 24/50
804/804 [==============================] - 1s 863us/step - loss: 0.5363 - accuracy: 0.7381
Epoch 25/50
804/804 [==============================] - 1s 847us/step - loss: 0.5359 - accuracy: 0.73870s - loss:
Epoch 26/50
804/804 [==============================] - 1s 838us/step - loss: 0.5355 - accuracy: 0.7404
Epoch 27/50
804/804 [==============================] - 1s 836us/step - loss: 0.5356 - accuracy: 0.7388
Epoch 28/50
804/804 [==============================] - 1s 850us/step - loss: 0.5351 - accuracy: 0.7388
Epoch 29/50
804/804 [==============================] - 1s 847us/step - loss: 0.5352 - accuracy: 0.7395
Epoch 30/50
804/804 [==============================] - 1s 848us/step - loss: 0.5352 - accuracy: 0.7400
Epoch 31/50
804/804 [==============================] - 1s 860us/step - loss: 0.5348 - accuracy: 0.7398
Epoch 32/50
804/804 [==============================] - 1s 826us/step - loss: 0.5351 - accuracy: 0.7392
Epoch 33/50
804/804 [==============================] - 1s 872us/step - loss: 0.5344 - accuracy: 0.7399
Epoch 34/50
804/804 [==============================] - 1s 862us/step - loss: 0.5345 - accuracy: 0.7396
Epoch 35/50
804/804 [==============================] - 1s 924us/step - loss: 0.5343 - accuracy: 0.7400
Epoch 36/50
804/804 [==============================] - 1s 862us/step - loss: 0.5341 - accuracy: 0.7407
Epoch 37/50
804/804 [==============================] - 1s 880us/step - loss: 0.5341 - accuracy: 0.7401
Epoch 38/50
804/804 [==============================] - 1s 836us/step - loss: 0.5332 - accuracy: 0.7406
Epoch 39/50
804/804 [==============================] - 1s 884us/step - loss: 0.5337 - accuracy: 0.7408
Epoch 40/50
804/804 [==============================] - 1s 859us/step - loss: 0.5336 - accuracy: 0.7407
Epoch 41/50
804/804 [==============================] - 1s 913us/step - loss: 0.5333 - accuracy: 0.7409
Epoch 42/50
804/804 [==============================] - 1s 858us/step - loss: 0.5328 - accuracy: 0.7404
Epoch 43/50
804/804 [==============================] - 1s 889us/step - loss: 0.5328 - accuracy: 0.7406
Epoch 44/50
804/804 [==============================] - 1s 855us/step - loss: 0.5329 - accuracy: 0.7410
Epoch 45/50
804/804 [==============================] - 1s 844us/step - loss: 0.5326 - accuracy: 0.7418
Epoch 46/50
804/804 [==============================] - 1s 831us/step - loss: 0.5330 - accuracy: 0.7411
Epoch 47/50
804/804 [==============================] - 1s 851us/step - loss: 0.5327 - accuracy: 0.7406
Epoch 48/50
804/804 [==============================] - 1s 862us/step - loss: 0.5323 - accuracy: 0.7408
Epoch 49/50
804/804 [==============================] - 1s 874us/step - loss: 0.5330 - accuracy: 0.7392
Epoch 50/50
804/804 [==============================] - 1s 847us/step - loss: 0.5323 - accuracy: 0.74110s - loss: 0.5301 - accura

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5571 - accuracy: 0.7285 - 232ms/epoch - 864us/step
Loss: 0.5570687651634216, Accuracy: 0.7285131216049194

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

In [28]:
print(model.history['accuracy'][-5:])

[0.7411366701126099, 0.7406313419342041, 0.7407867908477783, 0.7391929626464844, 0.7410589456558228]

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1
  **Try dropping columns, and evaluate the reduced-features data
  but keep other model parameters as _original_.**

In [29]:
# Examine value_counts() and consider dropping columns

display(applicant_data_df['SPECIAL_CONSIDERATIONS'].value_counts())
display(applicant_data_df['ORGANIZATION'].value_counts())
display(applicant_data_df['USE_CASE'].value_counts())
display(applicant_data_df['CLASSIFICATION'].value_counts())

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2600        1
C8210        1
C1580        1
C4500        1
C1732        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [30]:
# Make a copy of the original encoded dataframe.
# Drop groups of columns from the encoded dataframe.

cols_to_drop = X.filter(regex='APPLICATION|SPECIAL|CLASSIFICATION').columns
# print(cols_to_drop)
X_mod = X.copy()
X_mod = X_mod.drop(columns=cols_to_drop)
X_mod.shape[1]

26

In [31]:
# Scale and fit to the reduced-features dataframe

X_mod_train, X_mod_test, y_train, y_test = train_test_split(X_mod, y, random_state=1)

# Create a StandardScaler instance
mod_scaler = StandardScaler()

# Fit the scaler to the features training dataset
mod_scaler.fit(X_mod_train)

# Scale the features data
X_mod_train_scaled = mod_scaler.transform(X_mod_train)
X_mod_test_scaled = mod_scaler.transform(X_mod_test)

In [32]:
# Define the the number of inputs (features) to the model
number_input_features_A1 = len(X_mod_train.iloc[0])

# Review the number of features
number_input_features_A1

26

In [33]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [34]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features_A1 + number_output_neurons_A1)//2
hidden_nodes_layer2_A1 =  (hidden_nodes_layer1_A1 + number_output_neurons_A1)//2

# Review the number of hidden nodes in the first layer
print(f"hidden_nodes_layer1_A1: {hidden_nodes_layer1_A1}")
print(f"hidden_nodes_layer2_A1: {hidden_nodes_layer2_A1}")

hidden_nodes_layer1_A1: 13
hidden_nodes_layer2_A1: 7

In [35]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [36]:
# Add layers 1 and 2
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features_A1, activation='relu'))

nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation='relu'))
# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation='sigmoid'))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 13)                351

 dense_4 (Dense)             (None, 7)                 98

 dense_5 (Dense)             (None, 1)                 8

=================================================================
Total params: 457
Trainable params: 457
Non-trainable params: 0
_________________________________________________________________

In [37]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics='accuracy')

In [38]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_mod_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 778us/step - loss: 0.6406 - accuracy: 0.6650
Epoch 2/50
804/804 [==============================] - 1s 779us/step - loss: 0.6070 - accuracy: 0.6883
Epoch 3/50
804/804 [==============================] - 1s 792us/step - loss: 0.6036 - accuracy: 0.6963
Epoch 4/50
804/804 [==============================] - 1s 826us/step - loss: 0.6018 - accuracy: 0.6981
Epoch 5/50
804/804 [==============================] - 1s 802us/step - loss: 0.6009 - accuracy: 0.6985
Epoch 6/50
804/804 [==============================] - 1s 784us/step - loss: 0.6003 - accuracy: 0.6990
Epoch 7/50
804/804 [==============================] - 1s 843us/step - loss: 0.6003 - accuracy: 0.6994
Epoch 8/50
804/804 [==============================] - 1s 822us/step - loss: 0.5999 - accuracy: 0.6990
Epoch 9/50
804/804 [==============================] - 1s 787us/step - loss: 0.6002 - accuracy: 0.69920s - loss: 0.5984 - accuracy
Epoch 10/50
804/804 [==============================] - 1s 802us/step - loss: 0.5999 - accuracy: 0.6990
Epoch 11/50
804/804 [==============================] - 1s 800us/step - loss: 0.5994 - accuracy: 0.6993
Epoch 12/50
804/804 [==============================] - 1s 860us/step - loss: 0.5997 - accuracy: 0.6996
Epoch 13/50
804/804 [==============================] - 1s 798us/step - loss: 0.5992 - accuracy: 0.6991
Epoch 14/50
804/804 [==============================] - 1s 809us/step - loss: 0.5994 - accuracy: 0.6999
Epoch 15/50
804/804 [==============================] - 1s 792us/step - loss: 0.5992 - accuracy: 0.6996
Epoch 16/50
804/804 [==============================] - 1s 871us/step - loss: 0.5994 - accuracy: 0.7000
Epoch 17/50
804/804 [==============================] - 1s 783us/step - loss: 0.5991 - accuracy: 0.6995
Epoch 18/50
804/804 [==============================] - 1s 800us/step - loss: 0.5990 - accuracy: 0.6990
Epoch 19/50
804/804 [==============================] - 1s 799us/step - loss: 0.5990 - accuracy: 0.6999
Epoch 20/50
804/804 [==============================] - 1s 799us/step - loss: 0.5988 - accuracy: 0.6996
Epoch 21/50
804/804 [==============================] - 1s 771us/step - loss: 0.5991 - accuracy: 0.7000
Epoch 22/50
804/804 [==============================] - 1s 804us/step - loss: 0.5988 - accuracy: 0.6998
Epoch 23/50
804/804 [==============================] - 1s 792us/step - loss: 0.5988 - accuracy: 0.6997
Epoch 24/50
804/804 [==============================] - 1s 801us/step - loss: 0.5989 - accuracy: 0.7002
Epoch 25/50
804/804 [==============================] - 1s 813us/step - loss: 0.5988 - accuracy: 0.7002
Epoch 26/50
804/804 [==============================] - 1s 793us/step - loss: 0.5986 - accuracy: 0.7003
Epoch 27/50
804/804 [==============================] - 1s 815us/step - loss: 0.5984 - accuracy: 0.6998
Epoch 28/50
804/804 [==============================] - 1s 800us/step - loss: 0.5987 - accuracy: 0.7003
Epoch 29/50
804/804 [==============================] - 1s 797us/step - loss: 0.5985 - accuracy: 0.6999
Epoch 30/50
804/804 [==============================] - 1s 789us/step - loss: 0.5985 - accuracy: 0.69980s - loss: 0.5991 - accuracy: 0.
Epoch 31/50
804/804 [==============================] - 1s 826us/step - loss: 0.5982 - accuracy: 0.70000s - loss: 0.5946 - accura
Epoch 32/50
804/804 [==============================] - ETA: 0s - loss: 0.5970 - accuracy: 0.70 - 1s 803us/step - loss: 0.5984 - accuracy: 0.7000
Epoch 33/50
804/804 [==============================] - 1s 812us/step - loss: 0.5985 - accuracy: 0.69970s - loss: 0
Epoch 34/50
804/804 [==============================] - 1s 784us/step - loss: 0.5984 - accuracy: 0.7002
Epoch 35/50
804/804 [==============================] - 1s 795us/step - loss: 0.5983 - accuracy: 0.7000
Epoch 36/50
804/804 [==============================] - 1s 793us/step - loss: 0.5983 - accuracy: 0.6998
Epoch 37/50
804/804 [==============================] - 1s 806us/step - loss: 0.5981 - accuracy: 0.7005
Epoch 38/50
804/804 [==============================] - 1s 784us/step - loss: 0.5981 - accuracy: 0.7007
Epoch 39/50
804/804 [==============================] - 1s 797us/step - loss: 0.5983 - accuracy: 0.70050s - loss: 0.5977 - accuracy: 0.
Epoch 40/50
804/804 [==============================] - 1s 785us/step - loss: 0.5983 - accuracy: 0.7007
Epoch 41/50
804/804 [==============================] - 1s 798us/step - loss: 0.5982 - accuracy: 0.7009
Epoch 42/50
804/804 [==============================] - 1s 805us/step - loss: 0.5982 - accuracy: 0.7004
Epoch 43/50
804/804 [==============================] - 1s 804us/step - loss: 0.5983 - accuracy: 0.7006
Epoch 44/50
804/804 [==============================] - 1s 816us/step - loss: 0.5981 - accuracy: 0.7007
Epoch 45/50
804/804 [==============================] - 1s 822us/step - loss: 0.5980 - accuracy: 0.7002
Epoch 46/50
804/804 [==============================] - 1s 786us/step - loss: 0.5982 - accuracy: 0.70020s - loss: 0.5962 - ac
Epoch 47/50
804/804 [==============================] - 1s 792us/step - loss: 0.5980 - accuracy: 0.7004
Epoch 48/50
804/804 [==============================] - 1s 765us/step - loss: 0.5982 - accuracy: 0.70090s - loss: 0.5981 - accuracy:
Epoch 49/50
804/804 [==============================] - 1s 773us/step - loss: 0.5979 - accuracy: 0.7004
Epoch 50/50
804/804 [==============================] - 1s 793us/step - loss: 0.5979 - accuracy: 0.70000s - loss: 0.5975 - accuracy: 0.

### Alternative Model 2
 **Use original model features, but increase number of neurons**

In [39]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [40]:
# Create the Sequential model instance

# Use all features of original model, but increase number of neurons
nn_A2 = Sequential()
nn_A2.add(Dense(units=(hidden_nodes_layer1 * 2), input_dim=number_input_features, activation='relu'))
nn_A2.add(Dense(units=(hidden_nodes_layer2 * 2), activation='relu'))
nn_A2.add(Dense(units=number_output_neurons, activation='sigmoid'))
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 116)               13572

 dense_7 (Dense)             (None, 58)                6786

 dense_8 (Dense)             (None, 1)                 59

=================================================================
Total params: 20,417
Trainable params: 20,417
Non-trainable params: 0
_________________________________________________________________

In [41]:
# Compile the model
nn_A2.compile(loss='binary_crossentropy', optimizer='adam', metrics='accuracy')

In [42]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 952us/step - loss: 0.5750 - accuracy: 0.7219
Epoch 2/50
804/804 [==============================] - 1s 885us/step - loss: 0.5541 - accuracy: 0.7297
Epoch 3/50
804/804 [==============================] - 1s 893us/step - loss: 0.5504 - accuracy: 0.7303
Epoch 4/50
804/804 [==============================] - 1s 892us/step - loss: 0.5482 - accuracy: 0.7315
Epoch 5/50
804/804 [==============================] - 1s 885us/step - loss: 0.5467 - accuracy: 0.7313
Epoch 6/50
804/804 [==============================] - 1s 931us/step - loss: 0.5447 - accuracy: 0.7333
Epoch 7/50
804/804 [==============================] - 1s 922us/step - loss: 0.5439 - accuracy: 0.7343
Epoch 8/50
804/804 [==============================] - 1s 971us/step - loss: 0.5431 - accuracy: 0.7357
Epoch 9/50
804/804 [==============================] - 1s 930us/step - loss: 0.5424 - accuracy: 0.7348
Epoch 10/50
804/804 [==============================] - 1s 937us/step - loss: 0.5423 - accuracy: 0.7360
Epoch 11/50
804/804 [==============================] - 1s 906us/step - loss: 0.5417 - accuracy: 0.7357
Epoch 12/50
804/804 [==============================] - 1s 866us/step - loss: 0.5402 - accuracy: 0.7369
Epoch 13/50
804/804 [==============================] - 1s 857us/step - loss: 0.5404 - accuracy: 0.7357
Epoch 14/50
804/804 [==============================] - 1s 919us/step - loss: 0.5397 - accuracy: 0.7363
Epoch 15/50
804/804 [==============================] - 1s 906us/step - loss: 0.5392 - accuracy: 0.7366
Epoch 16/50
804/804 [==============================] - 1s 882us/step - loss: 0.5390 - accuracy: 0.7372
Epoch 17/50
804/804 [==============================] - 1s 917us/step - loss: 0.5387 - accuracy: 0.7357
Epoch 18/50
804/804 [==============================] - 1s 919us/step - loss: 0.5381 - accuracy: 0.73740s - loss: 0.5356 - accuracy
Epoch 19/50
804/804 [==============================] - 1s 993us/step - loss: 0.5378 - accuracy: 0.7384
Epoch 20/50
804/804 [==============================] - 1s 869us/step - loss: 0.5374 - accuracy: 0.7377
Epoch 21/50
804/804 [==============================] - 1s 863us/step - loss: 0.5371 - accuracy: 0.7379
Epoch 22/50
804/804 [==============================] - 1s 908us/step - loss: 0.5370 - accuracy: 0.7379
Epoch 23/50
804/804 [==============================] - 1s 895us/step - loss: 0.5366 - accuracy: 0.7390
Epoch 24/50
804/804 [==============================] - 1s 901us/step - loss: 0.5363 - accuracy: 0.7392
Epoch 25/50
804/804 [==============================] - 1s 861us/step - loss: 0.5364 - accuracy: 0.7387
Epoch 26/50
804/804 [==============================] - 1s 874us/step - loss: 0.5362 - accuracy: 0.73830s - loss:
Epoch 27/50
804/804 [==============================] - 1s 855us/step - loss: 0.5356 - accuracy: 0.7398
Epoch 28/50
804/804 [==============================] - 1s 854us/step - loss: 0.5352 - accuracy: 0.7391
Epoch 29/50
804/804 [==============================] - 1s 869us/step - loss: 0.5355 - accuracy: 0.7394
Epoch 30/50
804/804 [==============================] - 1s 870us/step - loss: 0.5346 - accuracy: 0.7396
Epoch 31/50
804/804 [==============================] - 1s 950us/step - loss: 0.5345 - accuracy: 0.7397
Epoch 32/50
804/804 [==============================] - 1s 882us/step - loss: 0.5347 - accuracy: 0.7399
Epoch 33/50
804/804 [==============================] - 1s 886us/step - loss: 0.5347 - accuracy: 0.74000s - loss: 0.5344 - ac
Epoch 34/50
804/804 [==============================] - 1s 864us/step - loss: 0.5343 - accuracy: 0.7405
Epoch 35/50
804/804 [==============================] - 1s 885us/step - loss: 0.5339 - accuracy: 0.7412
Epoch 36/50
804/804 [==============================] - 1s 892us/step - loss: 0.5342 - accuracy: 0.7396
Epoch 37/50
804/804 [==============================] - 1s 873us/step - loss: 0.5333 - accuracy: 0.7393
Epoch 38/50
804/804 [==============================] - 1s 849us/step - loss: 0.5338 - accuracy: 0.7399
Epoch 39/50
804/804 [==============================] - 1s 857us/step - loss: 0.5330 - accuracy: 0.7399
Epoch 40/50
804/804 [==============================] - 1s 867us/step - loss: 0.5332 - accuracy: 0.7398
Epoch 41/50
804/804 [==============================] - 1s 860us/step - loss: 0.5330 - accuracy: 0.7408
Epoch 42/50
804/804 [==============================] - 1s 882us/step - loss: 0.5324 - accuracy: 0.7418
Epoch 43/50
804/804 [==============================] - 1s 879us/step - loss: 0.5329 - accuracy: 0.7396
Epoch 44/50
804/804 [==============================] - 1s 869us/step - loss: 0.5323 - accuracy: 0.7406
Epoch 45/50
804/804 [==============================] - 1s 855us/step - loss: 0.5323 - accuracy: 0.7402
Epoch 46/50
804/804 [==============================] - 1s 895us/step - loss: 0.5321 - accuracy: 0.7400
Epoch 47/50
804/804 [==============================] - 1s 868us/step - loss: 0.5317 - accuracy: 0.7414
Epoch 48/50
804/804 [==============================] - 1s 849us/step - loss: 0.5321 - accuracy: 0.7406
Epoch 49/50
804/804 [==============================] - 1s 869us/step - loss: 0.5318 - accuracy: 0.7404
Epoch 50/50
804/804 [==============================] - 1s 862us/step - loss: 0.5318 - accuracy: 0.7406

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [43]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5571 - accuracy: 0.7285 - 166ms/epoch - 619us/step
Loss: 0.5570687651634216, Accuracy: 0.7285131216049194

In [44]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_mod_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5977 - accuracy: 0.7017 - 215ms/epoch - 803us/step
Loss: 0.597694993019104, Accuracy: 0.7016909718513489

In [45]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5565 - accuracy: 0.7300 - 217ms/epoch - 809us/step
Loss: 0.5565167665481567, Accuracy: 0.7300291657447815

### Step 3: Save each of your alternative models as an HDF5 file.

In [46]:
# Set the file path for the first alternative model
file_path = Path("Resources/AlphabetSoup_A1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [47]:
# Set the file path for the second alternative model
file_path = Path("Resources/AlphabetSoup_A2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)